aside.sidebarWrapper {
	box-sizing: border-box;
	padding: 30px 0;
	height: calc(100vh - 50px);
	position: sticky;
	top: 50px;
	border-right: 1px solid var(--border);
	background: var(--main);
} 
.sidebar {
	box-sizing: border-box;
	width: 100%;
}

.sideProgress {
	padding: 0 20px;

	.sideNavigation {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}

	.pageProgress {
		margin-bottom: 10px;
		text-align: center;
	}

}