
// Layout
.mangaDetails {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-gap: 20px;

	.contentCard.small {
		display: inline-table; // This works...
		position: sticky;
		top: $headerHeight + 20px;
		.title {
			margin-bottom: 0;
		}
		.description {
			display: none;
		}
	}

	.mangaPoster {
		width: 100%;
		box-sizing: border-box;
		border: 1px solid var(--border);
		border-radius: 4px;
		display: block;
	}

}
.mangaDetails .contentCard {
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 30px;
}

// Chapters
.chapters {
	border: 1px solid var(--border);
}
.chapterLink {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	text-decoration: none;
	color: inherit;
	transition: background 100ms;

	&+ .chapterLink {
		border-top: 1px solid var(--border);
	}
}
.chapterLink:hover {
	background: var(--border);
}

// Chapter-specific
.chapterWrapper {

	padding-top: 20px;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 20px;
	grid-template-areas: 
	  "controls"
	  "images";

	.chapterImages {
		grid-area: images;
	}
	.readerControls {
		grid-area: controls;
	}

	.loading {
		width: 100%;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			transform: scale(0.8);
		}
	}

	.chapterImages {
		display: flex;
		flex-wrap: wrap;
		place-items: center;
		max-width: 100vw;
		min-height: 200px;
	}
	&[data-horizontal="true"] .chapterImages {
		flex-wrap: nowrap;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
	
		.page {
			scroll-snap-align: start;
		}
	}
	&[data-horizontal="false"] .chapterImages {
		.page + .page {
			margin-top: 10px;
		}
	}

}

// Pages
.page {
	box-sizing: border-box;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 100%;
	object-fit: contain;
	max-height: calc(100vh - 50px);
}

@media screen and (max-width: 700px) {
	.page {
		max-height: calc(100vh - 50px - 50px);
	}
	.chapterWrapper[data-horizontal="true"] .chapterImages, .chapterImages.loading {
		background: var(--main);
	}
	.chapterWrapper {
		// 50 is footer height, env is control thing height, 20 is just padding
		padding-bottom: calc(50px + 20px + env(safe-area-inset-bottom));

		&[data-horizontal="true"] {
			padding-top: 0;
			grid-template-areas: 
			  "images"
			  "controls";
		}

	}
}