
.readerControls, .chapterImages {
	border-bottom: 1px solid var(--border);
	border-top: 1px solid var(--border);
}

.readerControls {
	padding: 15px 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: none;
}
.chapterImages {
	margin-bottom: 20px;
}