:root {
	--body: #f2f3f7;
	--text: #191919;

	--main: white;
	--textOnMain: var(--text);
	--border: #e5e5e5;
	--shadow: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
	:root {
		--body: #191919;
		--text: white;

		--main: #141414;
		--border: #4c4c4c;
		--shadow: rgba(255, 255, 255, 0.05);
	}
}

body {
	margin: 0;
	background: var(--body);
	color: var(--text);
}

@import "layout/main.scss";
@import "layout/header.scss";
@import "layout/sidebar.scss";

.bodyWrapper {
	width: 100%;

	&.mainLayout {
		display: grid;
		grid-template-columns: 250px 1fr;
	}
}